[Unit]
Description=MST daemon.

[Service]
Type=forking
ExecStart=/usr/bin/mstd --detach --pid-file=/var/run/mstd.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target