if is_screen_available({{screen_idx}}) then
    table.insert(
        awful.rules.rules,
        { rule = { class = "Xephyr",
                   name  = "Xephyr on :{{screen_idx}}.0 (ctrl+shift grabs mouse and keyboard)" },
          properties = { floating   = true,
                         fullscreen = true,
                         screen     = {{screen_idx}}} })
end
